{% extends "AppBundle:Default:main.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        tr.clickableRow {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 class="page-header">Przyjęcia towarowe</h1>
    <a href="{{ path('incomeNew') }}" class="btn btn-default">Dodaj</a>
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">Nr faktury</th>
            <th class="text-center">Data zakupu</th>
            <th>Kontrahent</th>
            <th class="text-right">Kwota</th>
        </tr>
        </thead>
        <tbody>
    {% for i in incomes %}
        <tr class="clickableRow" data-href="{{ path('incomeEdit', {'id': i.id }) }}">
            <td class="text-center">{{ i.id }}</td>
            <td class="text-center">{{ i.externalId }}</td>
            <td class="text-center">{{ i.incomeDate|date("d/m/Y") }}</td>
            <td>{{ i.contractor.name }}</td>
            <td class="text-right">{{ i.totalAmount|number_format(2) }} zł</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5" class="text-center text-muted">
                <i>Nie masz jeszcze żadnych przyjęć towaru</i>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.clickableRow').on('click', function(e) {
                window.document.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}